.container {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #1996da;
}

.row {
  display: flex;
  justify-content: center;
}

.text-container {
  font-family: Lato, sans-serif;
  color: #fff;
  text-align: center;
  padding-left: 2rem;
}

.column-full {
  flex-basis: 100%;
}

.column-thirds {
  flex-basis: calc(100% / 3);
  padding: 4px 0;
}

.image-container {
  background-color: white;
  border-radius: 100px;
  padding: 30px;
}

img {
  width: 70px;
}
