* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.row {
  display: flex;
}

.character {
  width: 100%;
}

.column-full {
  flex-basis: 100%;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-one-fourth {
  flex-basis: calc(25%);
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}
